{% block map_location_widget %}
    <div class="position-relative">
        {{ form_errors(form) }}

        {{ ux_map(form.vars.map, { style: 'height: ' ~ (form.vars.height ?? '300px') }) }}

        {{ form_widget(form.latitude) }}
        {{ form_widget(form.longitude) }}
        {{ form_widget(form.address) }}
    </div>
{% endblock %}

{% block map_location_help %}
    {% if help is not empty %}
        {% set attr = help_attr|merge({
            class: (help_attr.class|default('') ~ ' small text-muted d-block px-2 pt-2 pb-3')|trim
        }) %}

        <div {{ block('attributes') }}>
            {{ help_html ? help|raw : help }}
        </div>
    {% endif %}
{% endblock %}
