{# templates/form/_phone_number.html.twig #}
{% block phone_number_row %}
    <div {{ block('attributes') }}>
        <div class="row g-1">
            <div class="col-5">
                <div class="form-floating">
                    {{ form_widget(form.prefix, {
                        attr: {
                            placeholder: ' ',
                            class: (form.prefix.vars.attr.class|default('') ~ ' form-control')|trim
                        }
                    }) }}
                    {{ form_label(form.prefix) }}
                    {{ form_errors(form.prefix) }}
                </div>
            </div>

            <div class="col-7">
                <div class="form-floating">
                    {{ form_widget(form.number, {
                        attr: {
                            class: (form.number.vars.attr.class|default('') ~ ' form-control')|trim,
                            placeholder: ' ',
                            inputmode: 'tel',
                            autocomplete: 'tel'
                        }
                    }) }}
                    {{ form_label(form.number) }}
                    {{ form_errors(form.number) }}
                </div>
            </div>
        </div>

        {{ form_help(form) }}
    </div>
{% endblock %}
