{% block phone_number_row %}
    <div {{ block('attributes') }}>

        {% if form_errors(form) is not empty %}
            <div class="invalid-feedback d-block">{{ form_errors(form) }}</div>
        {% endif %}

        <div class="row g-1">
            <div class="col-5">
                {{ form_row(form.prefix) }}
            </div>
            <div class="col-7">
                {{ form_row(form.number) }}
            </div>
        </div>
        {{ form_help(form) }}
    </div>
{% endblock %}
