{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            background: url('{{ asset('images/6.jpg') }}') center / cover no-repeat fixed;
            /* If you don’t want it fixed-on-scroll, drop the “fixed” keyword */
            min-height: 100vh;
            min-height: 100dvh;
        }
    </style>
    <div class="container">
        <div class="row justify-content-center align-items-center g-0 my-5 min-vh-50">
            <div class="col-md-4">
                {{ form_start(form, { action: path('app_login') }) }}
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="fs-3 fw-bold">{{ 'login'|trans|title }}</div>
                            <div>
                                <i class="bi bi-lock-fill fs-4"></i>
                            </div>
                        </div>
                        <a class="link-primary"
                           href="{{ path('app_register') }}">{{ 'i-do-not-have-an-account'|trans }}</a>
                    </div>
                    {% if error is defined and error %}
                        <div class="card-header">
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-footer text-center text-muted pb-0">
                        {{ include('partial/_social_login.html.twig') }}
                    </div>
                    <div class="card-body">
                        <div class="vstack gap-3">
                            {{ form_row(form.email) }}
                            <div>
                                {{ form_row(form.password) }}
                                <div class="text-end">
                                    <a href="{{ path('request_password_reset') }}">{{ 'forgot-password'|trans }}</a>
                                </div>
                            </div>
                            {{ form_row(form.isRememberMe) }}
                        </div>
                    </div>
                    <div class="card-body text-center text-muted">
                        {{ 'by-continuing-accept-terms'|trans(domain='terms') }} <a
                                href="{{ path('terms_of_use') }}">{{ 'terms-of-use'|trans(domain='terms') }}</a>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn w-100 btn-lg btn-primary">{{ 'continue'|trans }}</button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
