{% extends 'simple.base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="row justify-content-center vh-100 g-0">
        <div class="col-12 col-md-4 text-bg-primary d-flex flex-column">
            <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                <div class="text-white fs-4">{{ 'password-reset'|trans|title }}</div>
            </div>
        </div>
        <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8">
                        {{ form_start(passwordResetForm) }}
                        <div class="vstack gap-3">
                            {% if error is defined and error %}
                                <div class="">
                                    <div class="alert alert-danger">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                </div>
                            {% endif %}
                            <div>{{ 'password-reset-explainer'|trans }}</div>
                            {{ form_row(passwordResetForm.email) }}
                            <div class="d-flex justify-content-end">
                                <button type="submit"
                                        class="btn btn-lg w-100 btn-primary btn-lg">{{ 'continue'|trans }}</button>
                            </div>
                        </div>

                        {{ form_end(passwordResetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
