{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center g-0 my-5 min-vh-50">
            <div class="col-md-4">
                {{ form_start(passwordResetForm) }}
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="fs-3 fw-bold">{{ 'password-reset'|trans|title }}</div>
                            <div>
                                {{ ux_icon('mdi:shield-account-outline', {style: 'height: 1.5em;'}) }}
                            </div>
                        </div>
                    </div>
                    {% if error is defined and error %}
                        <div class="card-header">
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <div class="vstack gap-3">
                            {{ form_row(passwordResetForm.email) }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button type="submit"
                                    class="btn btn-lg w-100 btn-primary">{{ 'send-password-reset'|trans }}</button>
                        </div>
                    </div>
                </div>
                {{ form_end(passwordResetForm) }}
            </div>
        </div>
    </div>
{% endblock %}
