{% extends 'simple.base.html.twig' %}

{% block title %}{{ 'add-your-phone'|trans }}{% endblock %}

{% block body %}
        <div class="row justify-content-center vh-100 g-0">
            <div class="col-12 col-md-4 text-bg-primary d-flex flex-column">
                <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                    <div class="text-white fs-4">{{ 'add-your-phone'|trans|title }}</div>
                </div>
            </div>
            <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8">
                            <div class="card">
                                {{ form_start(phoneForm) }}
                                <div class="card-header">
                                    <div>{{ 'add-your-phone-explainer'|trans({}) }}</div>
                                </div>
                                <div class="card-body">
                                    {{ form_row(phoneForm) }}
                                </div>
                                <div class="card-footer">
                                    <button data-turbo="false"  class="btn btn-primary w-100">
                                        {{ 'send-code'|trans({}) }}
                                    </button>
                                </div>
                                {{ form_end(phoneForm) }}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
