{% extends 'email/base.html.twig' %}
{% trans_default_domain 'email' %}

{% block subject %}
    {{ 'password-reset'|trans({name: user.firstName}) }}
{% endblock %}

{% block content %}
    <div>{{ 'password-reset'|trans({name: user.firstName}) }}</div>
    <p>{{ 'password-reset-content'|trans }}</p>
    <table role="presentation" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" style="padding:16px 0;background-color: #ecedee;color:#333333;">
                <a class="btn" href="{{ absolute_url(path('user_set_password', { token: token.value })) }}" style="display:inline-block;">
                    {{ 'reset-password'|trans }}
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding:16px 0;">
                <small>{{ 'link-expires-in'|trans({hours: token.getHoursUntilExpiry })|capitalize }}</small>
            </td>
        </tr>
    </table>
{% endblock %}