{% trans_default_domain 'email' %}

{% extends 'email/base.html.twig' %}

{% block subject %}
    {{ 'greetings'|trans({name: user.firstName}) }}
{% endblock %}

{% block content %}
    <div>{{ 'greetings'|trans({name: user.firstName}) }}</div>
    <p>{{ 'thank-you-client-for-joining'|trans }}</p>
    <table role="presentation" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" style="padding:16px 0;">
                <a class="btn" href="{{ url('verify_email', { token: token.value }) }}" style="display:inline-block;">
                    {{ 'confirm-email'|trans }}
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding:16px 0;">
                <small>{{ 'link-expires-in'|trans({hours: token.getHoursUntilExpiry })|capitalize }}</small>
            </td>
        </tr>
    </table>
{% endblock %}