{% extends 'simple.base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="row justify-content-center vh-100 g-0">
    <div class="col-12 col-md-4 text-bg-primary d-flex flex-column">
        <div class="flex-grow-1 d-flex justify-content-center align-items-center">
            <div class="text-white fs-4">{{ 'leave-review'|trans|title }}</div>
        </div>
    </div>
    <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    {{ form_start(reviewForm) }}
                    <div class="vstack gap-3">
                        {{ form_row(reviewForm.title) }}
                        {{ form_row(reviewForm.content) }}
                        {{ form_row(reviewForm.customerServicesRating) }}
                        {{ form_row(reviewForm.responseRating) }}
                        {{ form_row(reviewForm.workQualityRating) }}
                        {{ form_row(reviewForm.valueForMoneyRating) }}
                        <button type="submit" class="btn btn-primary w-100">{{ 'leave-review'|trans }}</button>
                    </div>
                    {{ form_end(reviewForm) }}
                </div>
            </div>
        </div>
        {% endblock %}
