{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center g-3 my-5 min-vh-100">

            <div class="col-12 col-md-6">

                <div class="row g-3 mb-5">
                    {% for skill in skills %}
                        <div class="col-6 col-md-3 card-img-zoom">
                            <div class="card rounded-3 trade-category-card h-100">
                                <img class="img-fluid w-100 h-100 object-fit-cover card-img card-overlay-image"
                                     src="{{ asset(skill.imagePath) }}"
                                     alt="Find quality trade jobs near you">
                                <div class="card-img-overlay d-flex flex-column justify-content-end align-items-center text-center px-5">
                                    <div class="fs-5 lh-1 fw-bold trade-category text-uppercase mb-3">{{ ('landing.skill.' ~ skill.title)|trans }}</div>
                                </div>
                                <a href="{{ path('create_engagement', {skill: skill.id}) }}"
                                   class="stretched-link"></a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-6 col-md-3 card-img-zoom">
                        <div class="card trade-category-card h-100">
                            <img class="img-fluid w-100 h-100 object-fit-cover card-img card-overlay-image"
                                 src="{{ asset('images/landing/something-else.png') }}"
                                 alt="Find quality trade jobs near you">
                            <div class="card-img-overlay d-flex flex-column justify-content-end align-items-center text-center px-5">
                                <div class="fs-6 lh-1 fw-bold trade-category text-uppercase mb-3">{{ 'i-need-something-else'|trans|title }}</div>
                            </div>
                            <a href="{{ path('create_engagement') }}"
                               class="stretched-link"></a>
                        </div>
                    </div>
                </div>

                <div class="d-flex gap-3 flex-column justify-content-between align-items-start">
                    <div>
                        <div class="fs-5 fw-bold">{{ 'jobs-you-posted'|trans|title }}</div>
                    </div>
                    <div class="nav nav-pills nav-justified w-100 bg-light rounded-pill overflow-hidden">
                        <a class="nav-link rounded-pill {{ app.request.query.get('tab') == 'active' ? "active shadow" }}"
                           href="{{ path('client_dashboard', {tab: 'active'}) }}">
                            {{ 'active'|trans|capitalize }}
                        </a>
                        <a class="nav-link rounded-pill {{ app.request.query.get('tab') == 'historical' ? "active shadow" }}"
                           href="{{ path('client_dashboard', {tab: 'historical'}) }}">
                            {{ 'histroy'|trans|capitalize }}
                        </a>
                    </div>
                </div>
                <hr class="pb-0"/>

                <div class="row g-4 my-3">
                    {% for job in pagination.items %}
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="w-100">
                                        <div class="d-flex justify-content-between align-items-center gap-2">
                                            <div class="fw-bold text-dark fs-4">{{ job.title }}</div>
                                            <div class="dropdown">
                                                <button class="btn btn-light rounded-circle"
                                                        type="button"
                                                        id="jobActionsDropdown{{ job.id }}"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    <i class="bi bi-three-dots-vertical fs-4"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="jobActionsDropdown{{ job.id }}">
                                                    {% if job.quotes.count == 0 %}
                                                        <li>
                                                            <a class="dropdown-item"
                                                               href="{{ path('edit_engagement', {id: job.id}) }}">
                                                                {{ 'edit'|trans|title }}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                    {% endif %}

                                                    <li>
                                                        <button
                                                                type="button"
                                                                class="dropdown-item text-danger"
                                                                data-controller="confirm-modal"
                                                                data-confirm-modal-form-id-value="delete-job-{{ job.id }}"
                                                                data-confirm-modal-title-value="{{ 'delete'|trans|e('html_attr') }}"
                                                                data-confirm-modal-body-value="{{ 'confirm-delete-job'|trans|e('html_attr') }}"
                                                                data-confirm-modal-confirm-label-value="{{ 'delete'|trans|e('html_attr') }}"
                                                                data-confirm-modal-cancel-label-value="{{ 'cancel'|trans|e('html_attr') }}"
                                                        >
                                                            {{ 'delete'|trans|title }}
                                                        </button>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <div>
                                                <twig:EngagementStatusBadge :status="job.status" variant="primary"
                                                                            size="lg"/>
                                                <twig:Badge
                                                        text="{{ 'quotes-received'|trans({count: job.quotes|length}) }}"
                                                        variant="primary" :isOutline="true" size="lg"/>
                                                {% if job.isBoosted %}
                                                    <twig:Badge icon="bi-rocket-takeoff-fill"
                                                                variant="primary" :isOutline="true" size="lg"/>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-header">
                                    <div class="d-flex flex-wrap fs-4 gap-1">
                                        {% for skill in job.skills %}
                                            <twig:Badge text="{{ skill.name|trans(domain='skills')|title }}"
                                                        variant="primary" :isOutline="true" size="lg"/>
                                        {% endfor %}
                                        <twig:Badge
                                                text="{{ (job.budget / 100)|format_currency(job.currencyCodeEnum.value, {}, app.locale) }}"
                                                variant="dark" :isOutline="true" size="lg"/>
                                        <twig:Badge text="{{ job.timelinePreferenceEnum.value|trans }}"
                                                    variant="dark" :isOutline="true" size="lg"/>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div data-controller="read-more"
                                         data-read-more-more-text-value="{{ 'read-more'|trans }}"
                                         data-read-more-less-text-value="{{ 'read-less'|trans }}">
                                        <div class="read-more-content" data-read-more-target="content">
                                            {{ job.description|nl2br }}
                                        </div>
                                        {% if job.description|length > 200 %}
                                            <div class="text-center text-muted">
                                                <a class="hover-pointer" data-action="read-more#toggle">
                                                    {{ 'read-more'|trans }}
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="d-flex gap-3 justify-content-between align-items-center">
                                        <div>
                                            {{ include('partial/_reactions.html.twig', { reactions: job.reactions}) }}
                                        </div>
                                        <a class="btn btn-light text-primary rounded-pill"
                                           href="{{ path('client_show_engagement', {id: job.id}) }}">
                                            <i class="bi bi-arrow-right-short fs-3"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <form id="delete-job-{{ job.id }}"
                              method="post"
                              action="{{ path('client_delete_engagement', { id: job.id }) }}"
                              class="d-none">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
                        </form>
                    {% else %}
                        <div class="col-12">
                            <div class="text-center text-muted">
                                <p class="fw-bold mb-1 fs-4">{{ 'no-jobs-posted'|trans }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {{ knp_pagination_render(pagination) }}

            </div>
        </div>
    </div>

    {% include 'partial/_confirm_delete_modal.html.twig' %}
{% endblock %}
