<div class="vstack gap-3 min-vh-50" {{ stimulus_controller('scroll-to-focused') }}>
    {% for message in engagement.conversation.messages %}
        <div class="card {{ message.id == focused ? "shadow" }}"
             id="message-{{ message.id }}"
             data-message-id="{{ message.id }}"
        >
            <div class="card-header hstack gap-3 text-end">
                <div>
                    <img width="50" height="50" class="border object-fit-cover rounded-circle"
                         src="{{ message.participant.owner.avatar }}"/>
                </div>
                <div class="vstack">
                    <div>{{ message.participant.owner.fullName }}</div>
                    <div class="small text-muted">{{ message.createdAt.diffForHumans }}</div>
                </div>
            </div>
            <div class="card-body">{{ message.content|nl2br }}</div>
        </div>
    {% else %}
        <div class="list-group-item text-center text-muted my-3">{{ 'no-messages-found'|trans }}</div>
    {% endfor %}
</div>

<div class="card mt-3">
    <div class="card-body p-0">
        {{ form_start(messageForm) }}
        <div class="position-relative">
            {{ form_row(messageForm.content) }}
            <button class="position-absolute bottom-0 end-0 me-2 mb-2 btn btn-primary rounded-pill btn-lg fs-4" type="submit">
                <i class="bi bi-send-fill"></i>
            </button>
        </div>
        {{ form_end(messageForm) }}
    </div>
</div>