{% extends 'email/base.html.twig' %}
{% trans_default_domain 'email' %}

{% block subject %}
    {{ 'greetings'|trans({name: user.firstName}) }}
{% endblock %}

{% block content %}
    <div>{{ 'greetings'|trans({name: user.firstName}) }}</div>
    <p>{{ 'thank-you-trader-for-joining'|trans }}</p>
    <table role="presentation" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" style="padding:16px 0;">
                <a class="btn" href="{{ absolute_url(path('verify_email', { token: token })) }}" style="display:inline-block;">
                    {{ 'confirm-email'|trans }}
                </a>
            </td>
        </tr>
    </table>
{% endblock %}