<div class="pt-5 border-top bg-secondary">
    <div class="container">
        <footer class="row justify-content-between mt-5">
            <div class="col-12 col-md-3 mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
                   aria-label="Bootstrap">
                    <img src="{{ asset('images/v3/logo-black-v3.png') }}" class="h-100-px"/>
                </a>
                <div class="fs-4">
                    <div class="lh-1 fw-bold">{{ 'Trader'|upper }}</div>
                    <div class="lh-1 fw-bold">{{ 'Point'|upper }}</div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-3">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{{ path('about_us') }}"
                                                 class="nav-link p-0 text-body-secondary">{{ 'about'|trans|title }}</a>
                    </li>
                    <li class="nav-item mb-2"><a href="{{ path('feedback_submit') }}"
                                                 class="nav-link p-0 text-body-secondary">{{ 'feedback.title'|trans }}</a>
                    </li>
                    <li class="nav-item mb-2"><a href="{{ path('terms_of_use') }}"
                                                 class="nav-link p-0 text-body-secondary">{{ 'privacy'|trans|title }}</a>
                    </li>
                    <li class="nav-item mb-2"><a href="{{ path('terms_of_use') }}"
                                                 class="nav-link p-0 text-body-secondary">{{ 'terms-of-use'|trans|title }}</a>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <p class="text-body-secondary">traderpoint.cz © 2025</p>
            </div>

        </footer>
    </div>
</div>