<div class="py-5 border-top text-bg-secondary">
    <div class="container">
        <footer class="row justify-content-between my-5">
            <div class="col-12 col-md-3 mb-3 text-center">
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
                   aria-label="Bootstrap">
                    <img src="{{ asset('images/traderpoint.png') }}" class="h-100-px mx-auto"/>
                </a>
                <p class="text-body-secondary">© 2025</p></div>
            <div class="col-12 col-md-3 mb-3">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{{ path('about_us') }}" class="nav-link p-0 text-body-secondary">{{ 'about'|trans|title }}</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">{{ 'faqs'|trans|title }}</a></li>
                    <li class="nav-item mb-2"><a href="{{ path('terms_of_use') }}" class="nav-link p-0 text-body-secondary">{{ 'privacy'|trans|title }}</a></li>
                    <li class="nav-item mb-2"><a href="{{ path('terms_of_use') }}" class="nav-link p-0 text-body-secondary">{{ 'terms-of-use'|trans|title }}</a></li>
                </ul>
            </div>
        </footer>
    </div>