<nav class="navbar navbar-expand-lg glass rounded-0 border-0" data-bs-theme="light">
    <div class="container d-flex gap-3 justify-content-between justify-content-sm-between align-items-center flex-row">
        <a class="navbar-brand" href="{{ path('landing') }}">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <img height="50" src="{{ asset('images/v3/logo-v3.png') }}">
                <div class="fs-4 border-start border-3 ps-2">
                    <div class="lh-1 fw-bold">{{ 'Trader'|upper }}</div>
                    <div class="lh-1 fw-bold">{{ 'Point'|upper }}</div>
                </div>
            </div>
        </a>
        <ul class="navbar-nav align-items-center flex-row gap-3 justify-content-between justify-content-md-end justify-content-lg-end w-100 border-top-sm-only">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link fw-bold" type="button" data-bs-toggle="offcanvas"
                       data-bs-target="#user-menu-offcanvas" aria-controls="user-menu-offcanvas"
                       aria-label="Toggle navigation">
                        {{ ux_icon('mdi:menu', {style: 'height: 2em;'}) }}
                    </a>
                </li>
                {% if app.user.isTrader %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" type="button" href="{{ path('trader_dashboard') }}">
                            {{ ux_icon('mdi:user-circle-outline', {style: 'height: 2em;'}) }}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" type="button" href="{{ path('client_dashboard') }}">
                            {{ ux_icon('mdi:user-circle-outline', {style: 'height: 2em;'}) }}
                        </a>
                    </li>
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">
                        {{ 'login'|trans|title }}
                    </a>
                </li>
                {% if app.current_route == 'trader_register' %}
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ path('landing') }}"
                           type="button">
                            {{ 'looking-to-hire'|trans|title }}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ path('trader_register') }}">
                            {{ 'join-as-tradesman'|trans|title }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" type="button" data-bs-toggle="offcanvas"
                   data-bs-target="#language-menu-offcanvas" aria-controls="language-menu-offcanvas"
                   aria-label="Language menu">
                    {{ ux_icon('mdi:web', {style: 'height: 2em;'}) }}
                </a>
            </li>
        </ul>
    </div>
</nav>

{% if app.user %}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="user-menu-offcanvas"
         aria-labelledby="user-menu-offcanvas-label">
        <div class="offcanvas-header d-flex flex-column">
            <div class="text-end w-100">
                <a data-bs-dismiss="offcanvas" type="button">
                    {{ ux_icon('mdi:window-close', {style: 'height: 2em;'}) }}
                </a>
            </div>
            {% if app.user and app.user.isTrader %}
                <div class="mb-4">
                    <img
                            class="p-0"
                            alt="Membership QR"
                            src="{{ membership_qr_data_uri(partnerSlug = null, size = 250) }}"
                    />
                </div>
            {% endif %}
            <div class="w-100 d-flex gap-3 justify-content-start align-items-start">
                <div>
                    <img class="avatar-80 border border-3c" src="{{ app.user.avatar }}"/>
                </div>
                <div>
                    <h5 class="offcanvas-title fs-4" id="offcanvasNavbarLabel">{{ app.user.FullName }}</h5>
                    <div class="text-muted">{{ app.user.email }}</div>
                </div>
            </div>
        </div>
        <div class="list-group list-group-flush">
            {% if app.user.isTrader %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {{ app.locale == 'trader_dashboard' ? 'active' }}"
                   href="{{ path('trader_dashboard') }}">
                    {{ 'dashboard'|trans|title }}
                    {{ ux_icon('mdi:user-circle-outline', {style: 'height: 1.5em;'}) }}
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {{ app.locale == 'trader_quotes' ? 'active' }}"
                   href="{{ path('trader_quotes') }}">
                    {{ 'quotes-sent'|trans|title }}
                    {{ ux_icon('mdi:invoice-text-send-outline', {style: 'height: 1.5em;'}) }}
                </a>
            {% else %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {{ app.locale == 'client_dashboard' ? 'active' }}"
                   href="{{ path('client_dashboard') }}">
                    {{ 'dashboard'|trans|title }}
                    {{ ux_icon('mdi:user-circle-outline', {style: 'height: 1.5em;'}) }}
                </a>
            {% endif %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {{ app.locale == 'user_account' ? 'active' }}"
               href="{{ path('user_account') }}">
                {{ 'account'|trans|title }}
                {{ ux_icon('mdi:cog-outline', {style: 'height: 1.5em;'}) }}
            </a>
            <a class="list-group-item text-danger list-group-item-action d-flex justify-content-between align-items-center"
               href="{{ path('app_logout') }}">
                {{ 'logout'|trans|title }}
                {{ ux_icon('mdi:location-exit', {style: 'height: 1.5em;'}) }}
            </a>
        </div>
    </div>
{% endif %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="language-menu-offcanvas"
     aria-labelledby="language-menu-offcanvas-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title fs-4" id="offcanvasNavbarLabel">{{ 'language'|trans|title }}</h5>
        <div class="text-end w-100">
            <a data-bs-dismiss="offcanvas" type="button">
                {{ ux_icon('mdi:window-close', {style: 'height: 2em;'}) }}
            </a>
        </div>
    </div>
    <div class="list-group list-group-flush fs-5">
        <a class="list-group-item list-group-item-action {{ app.locale == 'cs' ? 'active' }}"
           href="{{ path('landing', {_locale: 'cs'}) }}">{{ 'čeština'|title }}</a>
        <a class="list-group-item list-group-item-action {{ app.locale == 'en' ? 'active' }}"
           href="{{ path('landing', {_locale: 'en'}) }}">{{ 'english'|title }}</a>
        <a class="list-group-item list-group-item-action {{ app.locale == 'uk' ? 'active' }}"
           href="{{ path('landing', {_locale: 'uk'}) }}">{{ 'ukrajinština'|title }}</a>
        <a class="list-group-item list-group-item-action {{ app.locale == 'ru' ? 'active' }}"
           href="{{ path('landing', {_locale: 'ru'}) }}">{{ 'русский'|title }}</a>
    </div>
</div>