<nav class="navbar navbar-expand-lg glass rounded-0 border-0" data-bs-theme="light">
    <div class="container d-flex gap-3 justify-content-md-between justify-content-start align-items-start align-items-md-center flex-column flex-md-row">
        <a class="navbar-brand" href="{{ path('landing') }}">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <img height="60" src="{{ asset('images/tp-logo.png') }}">
                <div class="fs-4 border-start border-3 ps-2">
                    <div class="lh-1">Trader</div>
                    <div class="lh-1">Point</div>
                </div>
            </div>

        </a>
        <ul class="navbar-nav flex-row gap-3">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link fw-bold" type="button" data-bs-toggle="offcanvas"
                       data-bs-target="#user-menu-offcanvas" aria-controls="user-menu-offcanvas"
                       aria-label="Toggle navigation">
                        {{ app.user.firstName }}
                    </a>
                </li>
            {% else %}
                {% if app.current_route == 'trader_register' %}
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary fw-bold text-primary" href="{{ path('landing') }}" type="button">
                            {{ 'looking-to-hire'|trans }}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-primary fw-bold text-black" href="{{ path('trader_register') }}" type="button">
                            {{ 'tradesmen-register'|trans }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" type="button" data-bs-toggle="offcanvas"
                   data-bs-target="#language-menu-offcanvas" aria-controls="language-menu-offcanvas"
                   aria-label="Language menu">
                    {{ app.locale|language_name|title }}
                </a>
            </li>
        </ul>
    </div>
</nav>

{% if app.user %}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="user-menu-offcanvas"
         aria-labelledby="user-menu-offcanvas-label">
        <div class="offcanvas-header">
            <div class="hstack gap-3">
                <div>
                    <img class="avatar-50" src="{{ app.user.avatar }}"/>
                </div>
                <div>
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ app.user.FullName }}</h5>
                </div>

            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="list-group list-group-flush">
            {% if app.user.isTrader %}
                <a class="list-group-item list-group-item-action {{ app.locale == 'trader_dashboard' ? 'active' }}"
                   href="{{ path('trader_dashboard') }}">{{ 'dashboard'|title }}</a>
            {% else %}
                <a class="list-group-item list-group-item-action {{ app.locale == 'client_dashboard' ? 'active' }}"
                   href="{{ path('client_dashboard') }}">{{ 'dashboard'|title }}</a>
            {% endif %}
            <a class="list-group-item list-group-item-action {{ app.locale == 'user_conversations' ? 'active' }}"
               href="{{ path('user_conversations') }}">{{ 'messages'|title }}</a>
            {% if app.user.isTrader %}
                <a class="list-group-item list-group-item-action {{ app.locale == 'trader_account' ? 'active' }}"
                   href="{{ path('trader_account') }}">{{ 'account'|title }}</a>
            {% else %}
                <a class="list-group-item list-group-item-action {{ app.locale == 'user_account' ? 'active' }}"
                   href="{{ path('user_account') }}">{{ 'account'|title }}</a>
            {% endif %}
            <a class="list-group-item text-danger list-group-item-action"
               href="{{ path('app_logout') }}">{{ 'logout'|title }}</a>
        </div>
    </div>
{% endif %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="language-menu-offcanvas"
     aria-labelledby="language-menu-offcanvas-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ 'language'|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action {{ app.locale == 'cs' ? 'active' }}"
           href="{{ path('landing', {_locale: 'cs'}) }}">{{ 'cs'|locale_name|title }}</a>
        <a class="list-group-item list-group-item-action {{ app.locale == 'en' ? 'active' }}"
           href="{{ path('landing', {_locale: 'en'}) }}">{{ 'en'|locale_name|title }}</a>
        <a class="list-group-item list-group-item-action {{ app.locale == 'ru' ? 'active' }}"
           href="{{ path('landing', {_locale: 'ru'}) }}">{{ 'ru'|locale_name|title }}</a>
    </div>
</div>