{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            background: url('{{ asset('images/ai-ele-man.png') }}') top / cover no-repeat fixed;
            /* If you don’t want it fixed-on-scroll, drop the “fixed” keyword */
            min-height: 100vh;
            min-height: 100dvh;
        }
    </style>

    <div class="container">
        <div class="row justify-content-center min-vh-50 align-items-center">
            <div class="col-12 col-md-4">
                <div class="card my-3">
                    {{ form_start(traderForm) }}
                    <div class="card-header">
                        <h1 class="h3 mb-3 font-weight-normal">{{ 'trader-register'|trans|title }}</h1>
                    </div>
                    <div class="card-body vstack gap-3">
                        {{ form_row(traderForm.firstName) }}
                        {{ form_row(traderForm.lastName) }}
                        {{ form_row(traderForm.email) }}
                        {{ form_row(traderForm.skills) }}
                        {{ form_row(traderForm.plainPassword) }}
                    </div>

                    <div class="card-footer vstack gap-2 text-center">
                        <button type="submit" class="btn btn-primary">{{ 'register'|trans }}</button>
                        <a href="{{ path('app_login') }}" type="button" class="link-dark">{{ 'login'|trans }}</a>
                    </div>

                    <div class="text-center">
                        {#                            <a class="link-dark" href="{{ path('app_terms') }}">{{ 'terms-and-conditions'|trans }}</a> #}
                    </div>
                    {{ form_end(traderForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
