{% extends 'base.html.twig' %}

{% block body %}
    {% set tab = tab|default('account') %}

<div class="container">
    <div class="row justify-content-center g-3 mt-3">

        <div class="col-12 col-md-3 mb-3 mb-md-0">
            <div class="list-group">
                <a href="{{ path('user_account', { tab: 'account' }) }}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if tab == 'account' %}active{% endif %}">
                    <div>{{ 'account-settings'|trans|title }}</div>
                    <div>{{ ux_icon('mdi:cog-outline', { style: 'height: 1em;' }) }}</div>
                </a>
                {% if app.user.isTrader %}
                    <a href="{{ path('user_account', { tab: 'trader' }) }}"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if tab == 'trader' %}active{% endif %}">
                        <div>{{ 'trader-settings'|trans|title }}</div>
                        <div>{{ ux_icon('mdi:bank-outline', { style: 'height: 1em;' }) }}</div>
                    </a>
                {% endif %}
                <a href="{{ path('user_account', { tab: 'notification' }) }}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if tab == 'notification' %}active{% endif %}">
                    <div>{{ 'notification-settings'|trans|title }}</div>
                    <div>{{ ux_icon('mdi:notification-settings-outline', { style: 'height: 1em;' }) }}</div>

                </a>
            </div>
        </div>

        <div class="col-12 col-md-8">
            <div class="vstack gap-3">

                {# --- TRADER TAB --- #}
                {% if tab == 'trader' %}
                <div class="card">
                    {{ form_start(traderAccountForm) }}
                    <div class="mb-3">
                        <div class="card-body vstack gap-3">

                            <div data-controller="pick-location">
                                {{ form_row(traderAccountForm.location) }}
                                <div class="row g-3">
                                    <div class="col-6">
                                        {{ form_row(traderAccountForm.title) }}
                                    </div>
                                    {% if traderAccountForm.location.radiusKm is defined %}
                                        <div class="col-6">
                                            {{ form_row(traderAccountForm.location.radiusKm, {
                                                attr: {
                                                    'data-pick-location-target': 'radius',
                                                    'data-action': 'input->pick-location#radiusChanged change->pick-location#radiusChanged'
                                                }
                                            }) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>


                            {{ form_row(traderAccountForm.skills) }}
                            <div class="row g-3">
                                <div class="col-12 col-md-6">
                                    {{ form_row(traderAccountForm.country) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form_row(traderAccountForm.companyNumber) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button type="submit" class="btn btn-primary">
                                {{ 'save'|trans }}
                            </button>
                        </div>
                        {{ form_end(traderAccountForm) }}
                    </div>
                    {% endif %}

                    {# --- ACCOUNT TAB --- #}
                    {% if tab == 'account' %}
                        <div class="card">
                            {{ form_start(accountForm) }}
                            <div class="card-body vstack gap-3">
                                <div class="my-3 text-center">
                                    <img class="img-fluid avatar-120 rounded-circle border"
                                         src="{{ app.user.avatar }}"
                                         alt="{{ app.user.firstName }} {{ app.user.lastName }}">
                                </div>
                                {{ form_row(accountForm.avatar) }}
                                <div class="row row-cols-1 row-cols-md-2 g-3">
                                    <div class="col">{{ form_row(accountForm.firstName) }}</div>
                                    <div class="col">{{ form_row(accountForm.lastName) }}</div>
                                    <div class="col">{{ form_row(accountForm.preferredLanguage) }}</div>
                                    <div class="col">{{ form_row(accountForm.languages) }}</div>
                                </div>
                                {{ form_row(accountForm.phoneNumber) }}
                            </div>
                            <div class="card-footer text-end">
                                <button type="submit" class="btn btn-primary">
                                    {{ 'save'|trans }}
                                </button>
                            </div>
                            {{ form_end(accountForm) }}
                        </div>
                    {% endif %}

                    {# --- NOTIFICATION TAB --- #}
                    {% if tab == 'notification' %}
                        <div class="card">
                            {{ form_start(userNotificationSettingsTypeForm) }}
                            <div class="card-body vstack gap-3">
                                {{ form_row(userNotificationSettingsTypeForm.isReceiveMarketingEmail) }}

                                {% if app.user.isTrader %}
                                    {{ form_row(userNotificationSettingsTypeForm.isTraderReceiveEmailOnMatchingJob) }}
                                    {{ form_row(userNotificationSettingsTypeForm.isTraderReceiveSmsOnMatchingJob) }}
                                {% else %}
                                    {{ form_row(userNotificationSettingsTypeForm.isClientReceiveEmailOnEngagementMessage) }}
                                    {{ form_row(userNotificationSettingsTypeForm.isClientReceiveEmailOnQuote) }}
                                    {{ form_row(userNotificationSettingsTypeForm.isClientReceiveSmsOnQuote) }}
                                {% endif %}
                            </div>
                            <div class="card-footer text-end">
                                <button type="submit" class="btn btn-primary">
                                    {{ 'save'|trans }}
                                </button>
                            </div>
                            {{ form_end(userNotificationSettingsTypeForm) }}
                        </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
    {% endblock %}
