{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center g-3">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header bg-white">
                        <div class="text-center mb-3">
                            <img class="object-fit-cover rounded-circle mb-3"
                                 src="https://placehold.co/150x150"
                                 height="120"
                                 width="120"/>
                            <div class="lead">{{ user.name }}</div>
                        </div>
                    </div>
                    <div class="card-header bg-white">
                        <div class=" hstack gap-1 flex-wrap">
                            {% for user_skill in user.skills %}
                                <span class="badge text-bg-primary">{{ user_skill.skill.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div> {{ averageRating }} <i
                                        class="bi bi-star-fill text-warning"></i></div>
                            <div>{{ user.reviews.count }} reviews</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
{#                @todo add images#}

                <div class="vstack gap-3">
                    {% for review in user.reviews %}
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="fw-bold">{{ review.title }}</div>
                                <div>
                                    {{ review.overallRating|round(1) }}
                                    <span class="bi bi-star-fill text-warning"></span>
                                </div>
                            </div>
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div>{{ review.responseRating|round(1) }}</div>
                                <div>{{ review.customerServicesRating|round(1) }}</div>
                                <div>{{ review.workQualityRating|round(1) }}</div>
                                <div>{{ review.valueForMoneyRating|round(1) }}</div>
                            </div>
                            <div class="card-body">{{ review.content }}</div>
                        </div>
                    {% endfor %}

                    <div class="text-center">
                        <a class="btn btn-primary" href="#"> {{ 'leave-review'|trans }} </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
